/* CSS Document */

.ZongheXuan{
	width:1188px;
	height:38px;
	margin:0px auto;
	background:#f6f6f6;
	border:1px solid #d3d3d3;
	position:relative;
}
/* tab */
.tab{
	float:right;
}
.tab ul.menu{
	height:38px;
}
.tab ul.menu li{ 
	border-left:1px solid #d3d3d3;
	float:left;
	text-align:center;
	width:65px; 
	height:38px; 
	line-height:38px;
	list-style:none;
	font-size:12px;
	cursor:pointer;
}
.tab ul.menu li img{
	margin-right:5px;
}
.tab ul.menu li.active{
	background:#ffffff;
	color:#454545;
}
.con1,.con2{
	position:absolute; 
	top:39px; 
	left:0;
}

.ZongheXuan .ZongAn{
	float:left;
}
.ZongheXuan .ZongAn a{
	float:left;
	display:block;
	width:60px;
	height:38px;
	line-height:38px;
	text-align:center;
	text-decoration:none;
	color:#454545;
	font-size:12px;
	background:#f6f6f6;
	border-right:1px solid #d3d3d3;
}
.ZongheXuan .ZongAn a:hover{
	color:#fff;
	background:#00833c;
}
.ZongheXuan .ZongAn a i{
	font-size:12px;
	margin-left:3px;
}
.ZongheXuan .ZongAn a.a-Zong{
	color:#fff;
	background:#00833c;
}

.topright2{
	font-size:12px;
}
.topright2 a{
	color:#454545;
}
.topright2 a:hover{
	color: #00833c;
}
.topright2 .Suoyoudiqu{
	height:50px;
	line-height:50px;
	color:#666;
	border-bottom:1px solid #eaeaea;
}
.topright2 .Suoyoudiqu p{
	width:350px;
	line-height:50px;
	margin:0px auto;
	margin-left:25px;
}
.topright2 .DiquOne{
	width:360px;
	border-bottom:1px solid #eaeaea;
	padding-bottom:7px;
}
.topright2 .DiquOne p{
	width:350px;
	margin:0px auto;
	margin-left:25px;
}
.topright2 .DiquOne p a{
	float:left;
	display:block;
	width:50px;
	height:33px;
	line-height:33px;
	text-align:left;
	margin-left:10px;
	margin-top:7px;
}
.topright2 .DiquOne p a:hover{
	background:#f8f8f8;
	color:#00833c;
}

/*  分类搜索 */

.subNavBox{
	width:1190px;
	margin:0px auto;
	margin-bottom:0px;
	margin-bottom:10px/0;
}
.subNav{
	width:1190x;
	height:45px;
	line-height:45px;
	cursor:pointer;
	font-size:12px;
	color:#454545;
	background:url(../images/jiantou1.png) no-repeat;
	background-position:98% 50%;
	border-radius:3px;
}
.subNav:hover{
	color:#454545;
}
.currentDd{
	color:#454545;
}
.currentDt{
	background-image:url(../images/jiantou2.png);
}
.subNav p{
	float:left;
}
.subNav p b{
	float:left;
	font-weight:normal;
}
.subNav p em{
	float:left;
	margin-left:10px;
	color:#2b2b2b;
}
.subNav i{
	float:right;
	margin-right:60px;
}
.subNav i em{
	color:#ff6c00;
}
.gegao{
	display:block;
	width:1190px;
	height:23px;
	background:#fff;
}
.navContent{
	display:none;
	width:1188px;
	margin:0px auto;
	margin-bottom:16px;
	border:1px solid #d3d3d3;
}
.navContent .NavConFenMod{
	width:1188px;
	height:auto;
	min-height:42px;
	border-bottom:1px solid #d3d3d3;
	margin:0px auto;
}
.navContent .NavConFenMod .FenModLeft{
	float:left;
	height:42px;
	line-height:42px;
	width:104px;
	text-indent:1em;
	font-size:12px;
	color:#454545;
}

.contModcss{
	width:1080px;
	float:left;
	position:relative;
}
.contModcss .container{
	float:left;
	width:900px;
}
.contModcss .container ul{
	width:900px;
}
.contModcss .container ul li{
	float:left;
	width:80px;
	height:42px;
	line-height:42px;
	margin-left:15px;
	text-align:left;
}
.contModcss .container ul li a{
	color:#454545;
	font-size:12px;
}
.contModcss .boxModcss{ position:absolute; right:0; top:8px; width:171px;clear:both;}
.contModcss .boxModcss a{display:block;width:58px; font-size:12px; text-decoration:none; height:26px; line-height:26px; text-align:center; color:#454545;border:1px solid #aaa;margin:0 auto;}
.contModcss .boxModcss a span{padding-right:17px;background:url(../images/down.png) no-repeat center right;}
.onebox a{color:red;font-weight:bold;}


.QIding{
	float:left;
	width:200px;
	height:38px;
	line-height:38px;
	font-size:12px;
	margin-left:25px;
}
.QIding p{
	float:left;
	color:#454545;
	margin-left:5px;
	margin-right:5px;
}
.QIding input{
	float:left;
	width:70px;
	height:25px;
	background:#fff;
	line-height:25px;
	margin-top:6px;
	border:1px solid #d3d3d3;
}

.con1{
	width:1190px;
}
.con1 .ConTxtCnt{
	float:left;
	width:952px;
}
.con1 .CntModCp{
	float:left;
	width:224px;
	height:368px;
	border:1px solid #d3d3d3;
	cursor:pointer;
	margin-left:16px;
	margin-top:16px;
}
.con1 .Cpmod233{
	margin-left:15px;
}
.con1 .Cpmod1{
	margin-left:0px;
}
.con1 .CntModCp:hover{
	border:1px solid #00833c;
}
.con1 .CntModCp .CpModImg{
	width:224px;
	height:224px;
}
.con1 .CntModCp .CpModMoney{
	width:208px;
	margin:0px auto;
}
.con1 .CntModCp .CpModMoney h3{
	float:left;
	font-size:18px;
	color:#ff6c00;
	font-weight:normal;
	margin-top:10px;
}
.con1 .CntModCp .CpModMoney h3 i{
	font-size:14px;
}
.con1 .CntModCp .CpModMoney p{
	float:right;
	margin-top:16px;
	font-size:12px;
	color:#454545;
}
.con1 .CntModCp .CpModMoney p em{
	color:#ff6c00;
}
.con1 .CntModCp .CpModTxt{
	width:208px;
	margin:0px auto;
}
.con1 .CntModCp .CpModTxt p{
	line-height:20px;
	font-size:12px;
	color:#454545;
	margin-top:5px;
}
.con1 .CntModCp .CpModTxt p a{
	color:#454545;
}
.con1 .CntModCp .CpModTxt p a:hover{
	color:#ff6c00;
}
.con1 .CntModCp .CpModName{
	width:208px;
	margin:0px auto;
}
.con1 .CntModCp .CpModName p.GsName{
	float:left;
	width:106px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-top:7px;
}
.con1 .CntModCp .CpModName p.GsName a{
	color:#666;
	font-size:12px;
}
.con1 .CntModCp .CpModName p.GsName a:hover{
	color:#f99e5b;
}
.con1 .CntModCp .CpModName p.GongnengCC{
	float:right;
}
.con1 .CntModCp .CpModName p.GongnengCC a{
	float:left;
	display:block;
	width:21px;
	height:21px;
	text-decoration:none;
	margin-left:10px;
	margin-top:2px;
}
.con1 .CntModCp .CpModName p.GongnengCC a.zxLianxi{
	background:url(../images/Lianxi-ICo.png) no-repeat;
}
.con1 .CntModCp .CpModName p.GongnengCC a.dhLianxi{
	background:url(../images/LianxiDc-ICo.png) no-repeat;
}
.con1 .CntModCp .CpModDizhi{
	width:224px;
	height:29px;
	border-top:1px solid #d3d3d3;
	margin-top:7px;
}
.con1 .CntModCp .CpModDizhi p.TubiaoIco{
	float:left;
	margin-left:7px;
}
.con1 .CntModCp .CpModDizhi p.TubiaoIco a{
	float:left;
	margin-right:10px;
	display:block;
	width:21px;
	height:21px;
	text-decoration:none;
	margin-top:4px;
}
.con1 .CntModCp .CpModDizhi p.TubiaoIco a.a1-ICO{
	background:url(../images/cp-Money.png) no-repeat;
}
.con1 .CntModCp .CpModDizhi p.TubiaoIco a.a2-ICO{
	background:url(../images/cp-huangguan.png) no-repeat;
}
.con1 .CntModCp .CpModDizhi p.CP-dizhi{
	float:right;
	color:#454545;
	margin-right:7px;
	margin-top:6px;
	font-size:12px;
}
.con1 .ConRightXuan{
	float:right;
	width:220px;
	height:auto;
}
.con1 .ConRightXuan .RightXuanMod{
	width:218px;
	height:296px;
	border:1px solid #d3d3d3;
	margin-top:16px;
	cursor:pointer;
}
.con1 .ConRightXuan .RightXuanMod:hover{
	border:1px solid #00833c;
}
.con1 .ConRightXuan .RightXuanMod .XuanMimg{
	width:218px;
	height:219px;
}
.con1 .ConRightXuan .RightXuanMod .XuanMoney{
	width:218px;
}
.con1 .ConRightXuan .RightXuanMod .XuanMoney p.p_Monye{
	float:left;
	margin-left:7px;
	color:#ff6c00;
	font-size:18px;
	margin-top:7px;
}
.con1 .ConRightXuan .RightXuanMod .XuanMoney p.p_Monye i{
	font-size:14px;
}
.con1 .ConRightXuan .RightXuanMod .XuanMoney p.P_xiadan{
	float:right;
	margin-top:9px;
}
.con1 .ConRightXuan .RightXuanMod .XuanMoney p.P_xiadan a{
	float:left;
	display:block;
	width:21px;
	height:21px;
	text-decoration:none;
	background:url(../images/Lianxi-ICo.png) no-repeat;
	margin-right:10px;
}
.con1 .ConRightXuan .RightXuanMod .XuanMoney p.P_xiadan i{
	display:block;
	float:left;
	width:40px;
	height:21px; 
	line-height:21px;
	text-align:center;
	color:#fff;
	font-size:12px;
	background:#d3d3d3;
}
.con1 .ConRightXuan .RightXuanMod .XuanTxt{
	width:210px;
	margin-left:9px;
	font-size:12px;
	margin-top:2px;
}
.con1 .ConRightXuan .RightXuanMod .XuanTxt p{
	width:210px;
	
}

.page{
	float:left;
	margin-left:168px;
	margin-top:40px;
}
.page ul li{
	float:left;
	margin-left:10px;
	line-height:42px;
}
.page ul li.Shangyiye a{
	display:block;
	width:72px;
	height:40px;
	text-align:center;
	text-decoration:none;
	color:#454545;
	border:1px solid #d3d3d3;
	border-radius:4px;
	margin-right:10px;
}
.page ul li.Xiayiye a{
	display:block;
	width:72px;
	height:40px;
	text-align:center;
	text-decoration:none;
	color:#454545;
	border:1px solid #d3d3d3;
	border-radius:4px;
	margin-left:10px;
}
.page ul li.Daodile a{
	background:#f6f6f6;
}
.page ul li.Dangqian-a a{
	background:#ff6c00;
	color:#fff;
	border:1px solid #ff6c00;	
}
.page ul li.Quedingdd a{
	width:72px;
	margin-left:15px;
	
}
.page ul li a{
	display:block;
	width:40px;
	height:40px;
	text-align:center;
	text-decoration:none;
	color:#454545;
	border:1px solid #d3d3d3;
	border-radius:4px;
}
.page ul li a:hover{
	background:#ff6c00;
	color:#fff;
	border:1px solid #ff6c00;
}
.page ul li input{
	width:46px;
	height:40px;
	line-height:40px;
	border:1px solid #d3d3d3;
	margin-left:5px;
	margin-right:5px;
	border-radius:4px;
}


.TuijianXinxi{
	float:left;
	width:1188px;
	height:38px;
	line-height:38px;
	text-indent:1em;
	margin:0px auto;
	margin-top:34px;
	border-radius:4px;
	border:1px solid #d3d3d3;
}
.TuijianXinxi ul li{
	float:left;
	font-size:12px;
	margin-left:5px;
}
.TuijianXinxi ul li span{
	color:#666;
}
.TuijianXinxi ul li a{
	color:#454545;
}
.TuijianXinxi ul li.RightLi a{
	display:block;
	width:165px;
	height:38px;
	text-align:center;
	text-decoration:none;
	color:#454545;
	border-left:1px solid #d3d3d3;
	border-radius:4px;
}
.TuijianXinxi ul li.RightLi a:hover{
	background:#ff6c00;
	color:#fff;
	border:1px solid #ff6c00;
}
.rementuiCnt{
	float:left;
	margin-top:40px;
}
.rementuiCnt .tuiCnttitle h3{
	font-size:18px;
	font-weight:normal;
	border-left:10px solid #00833c;
	text-indent:0.5em;
}
.dibuC2{
	float:left;
	width:1190px;
	margin-top:20px;
}
.con2 .CpModHeng{
	width:1190px;
	margin:0px auto;
	margin-top:9px;
}
.con2 .CpModHeng .CpmodHengLeft{
	float:left;
	width:952px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird{
	width:952px;
	height:162px;
	border-bottom:1px solid #d3d3d3;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgImg{
	float:left;
	width:130px;
	height:130px;
	margin-top:16px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgCon{
	float:left;
	width:500px;
	margin-left:45px;
	margin-top:30px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgCon h3{
	width:500px;
	font-weight:normal;
	font-size:14px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgCon h3 a{
	color:#2b2b2b;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgCon h3 a:hover{
	color:#ff6c00;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgCon p{
	width:500px;
	padding-top:8px;
	font-size:12px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgCon p i{
	color:#ff6c00;
	font-size:12px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgCon p span{
	font-size:12px;
	color:#454545;
	margin-left:40px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgCon p em{
	color:#666666;
	margin-right:40px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgLx{
	float:right;
	width:190px;
	margin-right:40px;
	margin-top:35px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgLx h3{
	font-weight:normal;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgLx h3 a{
	float:left;
	font-size:12px;
	color:#454545;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgLx h3 a.biaoti-a{
	width:123px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-top:3px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgLx h3 a.zaixian-a{
	display:block;
	width:21px;
	height:21px;
	text-decoration:none;
	background:url(../images/Lianxi-ICo.png) no-repeat;
	margin-left:3px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgLx h3 a.dianlian-a{
	display:block;
	width:21px;
	height:21px;
	text-decoration:none;
	background:url(../images/LianxiDc-ICo.png) no-repeat;
	margin-left:10px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgLx p a.xunjia-a{
	display:block;
	width:89px;
	height:20px;
	line-height:20px;
	text-align:center;
	text-decoration:none;
	font-size:12px;
	color:#454545;
	border:1px solid #d3d3d3;
	margin-top:10px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgLx p a.money-a{
	float:left;
	display:block;
	width:21px;
	height:21px;
	text-decoration:none;
	background:url(../images/cp-Money.png) no-repeat;
	margin-top:12px;
	margin-right:7px;
}
.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgLx p a.vip-a{
	float:left;
	display:block;
	width:21px;
	height:21px;
	text-decoration:none;
	background:url(../images/cp-huangguan.png) no-repeat;
	margin-top:12px;
}

.con2 .CpModHeng .CpmodHengLeft .CpmodHgird .CpmodhgLx p em{
	float:right;
	margin-right:15px;
	font-size:12px;
	color:#666;
	margin-top:14px;
}

.con2 .ConRightXuan{
	float:right;
	width:220px;
	height:auto;
}
.con2 .ConRightXuan .RightXuanMod{
	width:218px;
	height:296px;
	border:1px solid #d3d3d3;
	margin-top:16px;
	cursor:pointer;
}
.con2 .ConRightXuan .RightXuanMod:hover{
	border:1px solid #00833c;
}
.con2 .ConRightXuan .RightXuanMod .XuanMimg{
	width:218px;
	height:219px;
}
.con2 .ConRightXuan .RightXuanMod .XuanMoney{
	width:218px;
}
.con2 .ConRightXuan .RightXuanMod .XuanMoney p.p_Monye{
	float:left;
	margin-left:7px;
	color:#ff6c00;
	font-size:18px;
	margin-top:7px;
}
.con2 .ConRightXuan .RightXuanMod .XuanMoney p.p_Monye i{
	font-size:14px;
}
.con2 .ConRightXuan .RightXuanMod .XuanMoney p.P_xiadan{
	float:right;
	margin-top:9px;
}
.con2 .ConRightXuan .RightXuanMod .XuanMoney p.P_xiadan a{
	float:left;
	display:block;
	width:21px;
	height:21px;
	text-decoration:none;
	background:url(../images/Lianxi-ICo.png) no-repeat;
	margin-right:10px;
}
.con2 .ConRightXuan .RightXuanMod .XuanMoney p.P_xiadan i{
	display:block;
	float:left;
	width:40px;
	height:21px; 
	line-height:21px;
	text-align:center;
	color:#fff;
	font-size:12px;
	background:#d3d3d3;
}
.con2 .ConRightXuan .RightXuanMod .XuanTxt{
	width:210px;
	margin-left:9px;
	font-size:12px;
	margin-top:2px;
}
.con2 .ConRightXuan .RightXuanMod .XuanTxt p{
	width:210px;
	
}

.con2 .CntModCp{
	float:left;
	width:224px;
	height:368px;
	border:1px solid #d3d3d3;
	cursor:pointer;
	margin-left:16px;
	margin-top:16px;
}
.con2 .Cpmod233{
	margin-left:15px;
}
.con2 .Cpmod1{
	margin-left:0px;
}
.con2 .CntModCp:hover{
	border:1px solid #00833c;
}
.con2 .CntModCp .CpModImg{
	width:224px;
	height:224px;
}
.con2 .CntModCp .CpModMoney{
	width:208px;
	margin:0px auto;
}
.con2 .CntModCp .CpModMoney h3{
	float:left;
	font-size:18px;
	color:#ff6c00;
	font-weight:normal;
	margin-top:10px;
}
.con2 .CntModCp .CpModMoney h3 i{
	font-size:14px;
}
.con2 .CntModCp .CpModMoney p{
	float:right;
	margin-top:16px;
	font-size:12px;
	color:#454545;
}
.con2 .CntModCp .CpModMoney p em{
	color:#ff6c00;
}
.con2 .CntModCp .CpModTxt{
	width:208px;
	margin:0px auto;
}
.con2 .CntModCp .CpModTxt p{
	line-height:20px;
	font-size:12px;
	color:#454545;
	margin-top:5px;
}
.con2 .CntModCp .CpModTxt p a{
	color:#454545;
}
.con2 .CntModCp .CpModTxt p a:hover{
	color:#ff6c00;
}
.con2 .CntModCp .CpModName{
	width:208px;
	margin:0px auto;
}
.con2 .CntModCp .CpModName p.GsName{
	float:left;
	width:106px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-top:7px;
}
.con2 .CntModCp .CpModName p.GsName a{
	color:#666;
	font-size:12px;
}
.con2 .CntModCp .CpModName p.GsName a:hover{
	color:#f99e5b;
}
.con2 .CntModCp .CpModName p.GongnengCC{
	float:right;
}
.con2 .CntModCp .CpModName p.GongnengCC a{
	float:left;
	display:block;
	width:21px;
	height:21px;
	text-decoration:none;
	margin-left:10px;
	margin-top:2px;
}
.con2 .CntModCp .CpModName p.GongnengCC a.zxLianxi{
	background:url(../images/Lianxi-ICo.png) no-repeat;
}
.con2 .CntModCp .CpModName p.GongnengCC a.dhLianxi{
	background:url(../images/LianxiDc-ICo.png) no-repeat;
}
.con2 .CntModCp .CpModDizhi{
	width:224px;
	height:29px;
	border-top:1px solid #d3d3d3;
	margin-top:7px;
}
.con2 .CntModCp .CpModDizhi p.TubiaoIco{
	float:left;
	margin-left:7px;
}
.con2 .CntModCp .CpModDizhi p.TubiaoIco a{
	float:left;
	margin-right:10px;
	display:block;
	width:21px;
	height:21px;
	text-decoration:none;
	margin-top:4px;
}
.con2 .CntModCp .CpModDizhi p.TubiaoIco a.a1-ICO{
	background:url(../images/cp-Money.png) no-repeat;
}
.con2 .CntModCp .CpModDizhi p.TubiaoIco a.a2-ICO{
	background:url(../images/cp-huangguan.png) no-repeat;
}
.con2 .CntModCp .CpModDizhi p.CP-dizhi{
	float:right;
	color:#454545;
	margin-right:7px;
	margin-top:6px;
	font-size:12px;
}