/* CSS Document */

.QiyeLogin{
	width:218px;
}
.QiyeLogin .QiyeLogig_DZ{
	width:218px;
	height:48px;
	border-bottom:1px solid #d3d3d3;
}
.QiyeLogin .QiyeLogig_DZ .Dz_left_D{
	float:left;
	width:109px;
	height:48px;
	border-right:1px solid #d3d3d3;
}
.QiyeLogin .QiyeLogig_DZ .Dz_left_D a{
	color:#454545;
	display:block;
	width:109px;
	line-height:48px;
	text-decoration:none;
}
.QiyeLogin .QiyeLogig_DZ .Dz_left_D a img{
	float:left;
	margin-left:19px;
	margin-top:14px;
	margin-right:12px;
}
.QiyeLogin .QiyeLogig_DZ .Dz_left_D a:hover{
	color:#ff6c00;
}
.QiyeLogin .QiyeLogig_DZ .Dz_right_Z{
	float:right;
	width:108px;
	height:48px;
}
.QiyeLogin .QiyeLogig_DZ .Dz_right_Z a{
	color:#454545;
	display:block;
	width:108px;
	line-height:48px;
	text-decoration:none;
}
.QiyeLogin .QiyeLogig_DZ .Dz_right_Z a img{
	float:left;
	margin-left:19px;
	margin-top:14px;
	margin-right:12px;
}
.QiyeLogin .QiyeLogig_DZ .Dz_right_Z a:hover{
	color:#ff6c00;
}
.QiyeLogin .QiyeLogig_DZ .Dzh_txt{
	width:218px;
	height:48px;
	line-height:48px;
}
.QiyeLogin .QiyeLogig_DZ .Dzh_txt p{
	font-size:12px;
	color:#454545;
	text-indent:0.7em;
}
.QiyeLogin .QiyeLogig_DZ .Dzh_txt p a{
	color:#ff6c00;
	padding-right:3px;
}


.QiyeLogin .QiyeLoginTxt{
	width:200px;
	margin:0px auto;
	margin-top:10px;
}
.QiyeLogin .QiyeLoginTxt h3{
	font-size:16px;
	font-weight:normal;
	margin-bottom:5px;
}
.QiyeLogin .QiyeLoginTxt a{
	width:180px;
	color:#454545;
	font-size:12px;
	line-height:24px;
	padding-left:10px;
	background:url(../images/em-bj-a.png) no-repeat center left;
}
.QiyeLogin .QiyeLoginTxt a:hover{
	color:#ff6c00;
}


.ranklist{height:69px;overflow:hidden;}
.ranklist li{height:24px;line-height:24px;overflow:hidden;position:relative;}
.ranklist li em{height:24px;overflow:hidden;display:block;position:absolute;left:0;top:0;text-align:center;}
.ranklist li em{background-position:0 -16px;}
.ranklist li.top em{background-position:0 0;color:#fff;}
.ranklist li .num{position:absolute;right:0;top:0;color:#999;}


.QiyeLogin .QiyeLoginTxt a.Diyu-a{
	float:left;
	display:block;
	width:44px;
	height:21px;
	line-height:21px;
	text-align:center;
	text-decoration:none;
	color:#454545;
	background:#f6f6f6;
	padding:0px;
	margin-left:6px;
	margin-top:7px;
	
}
.QiyeLogin .QiyeLoginTxt a.Diyu-a-Left{
	margin-left:0px;
}
.QiyeLogin .QiyeLoginTxt a.Diyu-a:hover{
	color:#ff6c00;
}
.QiyeLogin .QiyeLoginTxt a.Diyu-a-Gengduo{
	color:#ff6c00;
}





/* 最新入驻企业 */

.QiyeRuzhu{
	width:1188px;
	height:148px;
	margin:0px auto;
	margin-top:20px;
	border:1px solid #d3d3d3;
}
.QiyeRuzhu .Ruzhu_title{
	width:1188px;
	height:44px;
	border-bottom:1px solid #d3d3d3;
	line-height:44px;
}


.QiyeRuzhu .Ruzhu_title .GonggaoCnt1{
	float:left;
	width:1188px;
}
.QiyeRuzhu .Ruzhu_title .GonggaoCnt1 .Cntleft{
	float:left;
}
.QiyeRuzhu .Ruzhu_title .GonggaoCnt1 .Cntleft p{
	float:left;
	color:#ff6c00;
	margin-left:26px;
	margin-top:1px;
}
.QiyeRuzhu .Ruzhu_title .notice ul li{
	width:800px;
	margin-left:10px;
	margin-right:10px;
}
.QiyeRuzhu .Ruzhu_title .GonggaoCnt1 .Cntright{
	float:right;
	margin-right:15px;
}
.QiyeRuzhu .Ruzhu_title .GonggaoCnt1 .Cntright em{
	color:#ff6c00;
}

.notice{
	float:left;
	margin-top:12px;
}
.notice .noticTipTxt{
	color:#ff7300;
	height:22px;
	line-height:22px;
	overflow:hidden;
}
.notice .noticTipTxt li{
	height:22px;
	line-height:22px;
}
.notice .noticTipTxt a{
	color:#454545;
	font-size:14px;
	text-decoration:none;
}
.notice .noticTipTxt a:hover{
	color:#ff7300;
	text-decoration:underline;
}

.QiyeRuzhu .RuzhuQyLogo{
	width:1190px;
}
.QiyeRuzhu .RuzhuQyLogo a{
	float:left;
	display:block;
	width:226px;
	height:90px;
	margin-top:6px;
	margin-left:9px;
}


/*  企业分类 */
.QYCntMod{
	width:1190px;
	height:320px;
	margin:0px auto;
	margin-top:20px;
}
.QYCntMod .QYCntMod_left{
	float:left;
	width:222px;
	height:320px;
}	
.QYCntMod .QYCntMod_left .QYCntMod_left_title{
	width:222px;
	height:40px;
	line-height:40px;
	background:#00833c;
	color:#fff;
	font-size:16px;
}
.QYCntMod .QYCntMod_left .QYCntMod_left_title img{
	float:left;
	margin-left:28px;
	margin-top:11px;
	margin-right:18px;
}
.QYCntMod .QYCntMod_left .QyCntMod_neirong{
	width:222px;
	height:280px;
	background:#f6f6f6;
}
.QYCntMod .QYCntMod_left .QyCntMod_neirong .Neirong-logo{
	width:200px;
	height:155px;
	text-align:center;
	margin:0px auto;
	padding-top:6px;
}
.QYCntMod .QYCntMod_left .QyCntMod_neirong .Neirong-jiajie{
	width:202px;
	margin:0px auto;
	text-align:center;
	margin-top:5px;
	padding-bottom:10px;
	border-bottom:1px solid #d3d3d3;
}
.QYCntMod .QYCntMod_left .QyCntMod_neirong .Neirong-jiajie p{
	color:#2b2b2b;
	padding-top:5px;
}
.QYCntMod .QYCntMod_left .QyCntMod_neirong .Neirong-jiajie p em{
	color:#454545;
	font-size:12px;
}
.QYCntMod .QYCntMod_left .QyCntMod_neirong .Neirong-caozuo a{
	float:left;
	margin-top:18px;
	color:#ff6c00;

}
.QYCntMod .QYCntMod_left .QyCntMod_neirong .Neirong-caozuo{
	width:150px;
	margin:0px auto;
}
.QYCntMod .QYCntMod_Zhong{
	float:left;
	width:729px;
	height:319px;
	border-right:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
}
.QYCntMod .QYCntMod_Zhong .Zhong_titile{
	width:729px;
	height:37px;
	border-top:2px solid #00833c;
	border-bottom:1px solid #d3d3d3;
	line-height:37px;
	background:#f6f6f6;
	color:#454545;
}
.QYCntMod .QYCntMod_Zhong .Zhong_titile p{
	float:left;
	text-indent:1.6em;
}
.QYCntMod .QYCntMod_Zhong .Zhong_titile i{
	float:right;
	margin-right:15px;
	color:#ff6c00;
}
.QYCntMod .QYCntMod_Zhong .Zhong_titile i a{
	color:#ff6c00;
}
.QYCntMod .QYCntMod_Zhong .ExcEnter{
	float:left;
	width:330px;
	height:102px;
	margin-left:25px;
	margin-top:25px;
}
.QYCntMod .QYCntMod_Zhong .ExcEnter2{

}
.QYCntMod .QYCntMod_Zhong .ExcEnter .ExcEnterImg{
	float:left;
	width:100px;
	height:100px;
	border:1px solid #d3d3d3;
}
.QYCntMod .QYCntMod_Zhong .ExcEnter .ExcEnterImg:hover{
	border:1px solid #ff6c00;
}
.QYCntMod .QYCntMod_Zhong .ExcEnter .ExcEnterTxt{
	float:left;
	margin-left:8px;
}
.QYCntMod .QYCntMod_Zhong .ExcEnter .ExcEnterTxt a{
	color:#2b2b2b;
	margin-top:5px;
}
.QYCntMod .QYCntMod_Zhong .ExcEnter .ExcEnterTxt a:hover{
	color:#ff6c00;
}
.QYCntMod .QYCntMod_Zhong .ExcEnter .ExcEnterTxt p{
	width:218px;
	line-height:20px;
	font-size:12px;
	padding-top:5px;
	color:#454545;
}
.QYCntMod .QYCntMod_Zhong .ExcEnter .ExcEnterTxt p.P-jiequ{
	width:218px;	
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	
}
.QYCntMod .RightXin{
	float:right;
	width:218px;
	height:318px;
	border:1px solid #d3d3d3;
}
.QYCntMod .RightXin .RightXin_Title{
	width:218px;
	height:39px;
	line-height:39px;
	color:#454545;
	background:#f6f6f6;
}

.QYCntMod .RightXin .RightXin_Title p{
	float:left;
	margin-left:9px;
}
.QYCntMod .RightXin .RightXin_Title a{
	float:right;
	color:#2b2b2b;
	font-size:12px;
	margin-right:9px;
}
.QYCntMod .RightXin .RightXin_txt ul li{
	width:195px;
	height:34px;
	line-height:34px;
	margin:0px auto;
	border-bottom:1px dashed #d3d3d3;
}
.QYCntMod .RightXin .RightXin_txt ul li a{
	font-size:12px;
	color:#454545;
	background:url(../images/em-bj-a.png) no-repeat center left;
	padding-left:9px;
}
.QYCntMod .RightXin .RightXin_txt ul li a:hover{
	color:#ff6c00;
}