/* CSS Document */

/* nav瀵艰埅 */
.Nav{
	width:1190px;
	margin:0px auto;
	margin-top:14px;
	background:#00833c;
	height:39px;
	line-height:39px;
}
.Nav .Nav_title{
	float:left;
	width:205px;
	height:39px;
	line-height:39px;
	background:#00611f;
	color:#fff;
}
.Nav .Nav_title img{
	float:left;
	margin-left:30px;
	margin-top:13px;
	margin-right:10px;
}
.Nav .Nav-cnt{
	float:left;
	font-size:14px;
}
.Nav .Nav-cnt i{
	float:left;
	display:block;
	width:2px;
	height:39px;
	background:url(../images/NAV-i.png) no-repeat;
}
.Nav .Nav-cnt a{
	float:left;
	display:block;
	width:113px;
	text-align:center;
	text-decoration:none;
	color:#fff;
}
.Nav .Nav-cnt a:hover{
	color:#cfffae;
	font-weight:bold;
	font-size:16px;
}
.Nav .Nav-cnt a.dangqian{
	color:#cfffae;

}

/* banner */
.banner{
	width:1190px;
	margin:0px auto;
}

/*涓嬫媺*/
.yHeader{
	width:202px;
	height:303px;
	float:left;
}
.pullDown{ float:left; z-index:9;position: absolute;}
.pullDownList{width:202px;height:303px; background:#fff; border:1px solid #d3d3d3; border-top:0px;position:relative;z-index:99;}
.pullDownList li{height:59px;color:#454545;font-size:13px; width:180px; margin:0px auto;border-bottom:1px solid #d3d3d3;position: relative;}
.pullDownList li i{display: inline-block;position:relative;top:4px;margin-right: 8px;left:0;-webkit-transition: margin-left .2s linear;-moz-transition: margin-left .2s linear;-o-transition: margin-left .2s linear; width: 20px;height: 19px;background: url(../images/Left-ico-1.png) no-repeat;}
.pullDownList li.menulihover{
	color:#ff6c00;
}
.pullDownList li a.yidong{
	display:block;
	width:180px;
	margin:0px auto;
	height:58px;
	text-decoration:none;
	background:url(../images/Left-ico-1.png) no-repeat center left;
}
.pullDownList li a.yidong2{
	background:url(../images/Left-ico-2.png) no-repeat center left;	
}
.pullDownList li a.yidong3{
	background:url(../images/Left-ico-3.png) no-repeat center left;	
}
.pullDownList li a.yidong4{
	background:url(../images/Left-ico-4.png) no-repeat center left;	
}
.pullDownList li a.yidong5{
	background:url(../images/Left-ico-5.png) no-repeat center left;	
}
.pullDownList li a.yidong p{
	font-size:16px;
	margin-left:28px;
	padding-top:8px;
}
.pullDownList li a.yidong p.zifenlei{
	font-size:12px;
	padding-top:0px;
}
.pullDownList li a.yidong p.zifenlei em{
	margin-right:6px;
}
.pullDownList li.menulihover a.yidong{margin-left:8px; color:#ff6c00; background:url(../images/Left-ico-1-2.png) no-repeat center left;}
.pullDownList li.menulihover a.yidong2{background:url(../images/Left-ico-2-2.png) no-repeat center left;}
.pullDownList li.menulihover a.yidong3{background:url(../images/Left-ico-3-3.png) no-repeat center left;}
.pullDownList li.menulihover a.yidong4{background:url(../images/Left-ico-4-4.png) no-repeat center left;}
.pullDownList li.menulihover a.yidong5{background:url(../images/Left-ico-5-5.png) no-repeat center left;}

/*浠ヤ笅浠ｇ爜鏄娇鐢ㄥ浘鐗囩簿鐏甸渶瑕佸浘鐗囩殑瀹氫綅淇℃伅*/
/*.pullDownList li i.listi1{background-position: 0 -1240px}   
.pullDownList li i.listi2{background-position: 0 -1271px}
.pullDownList li i.listi3{background-position: 0 -1302px}
.pullDownList li i.listi4{background-position: 0 -1332px}
.pullDownList li i.listi5{background-position: 0 -1362px}
*/
.pullDownList li a{color:#454545;font-size: 13px;}

.pullDownList li.menuliselected span{top: 14px;right: 7px;border-left: 4px solid transparent;border-top: 4px solid #fff;border-right:4px solid transparent;border-bottom: 0;}
.pullDownList li.menulihover{}
.pullDownList li span{display: inline-block; width: 0;height: 0;position: absolute;top: 12px;right: 8px;}
.pullDownList li.menulihover span{top: 12px;right: 8px;border-left: 4px solid #fff;border-top: 4px solid transparent;border-bottom: 4px solid transparent;border-right: 0;}
/*涓嬫媺璇︾粏鍒楄〃鍏蜂綋鍒嗙被*/
.yMenuListCon{width:747px;height:304px;position:absolute;z-index:99;top:0px;left:204px;overflow: hidden;}
.yMenuListCon p{width:auto;color: #7f7e7e;font-size: 12px;margin: 10px 0 0 -1px;overflow: hidden;}
.yMenuListCon p a{color: #7f7e7e;font-size: 12px;padding: 0 8px;display: inline-block;float: left;margin-top: 5px;background: url(../images/indexicon1.png) 0 -1695px;}
.yMenuListCon p a.ecolor610{color: #a90000;}
.yMenuListCon p a:hover{color: #a90000;text-decoration: underline;}
.yMenuListConin{display: none; background:#f6f6f6;width:747px;height:304px;position: absolute;left: 0;top: 0;}
.yMenuLCinList{overflow: hidden;}
.yMenuLCinList-left{
	float:left;
	width:509px;
}
.yMenuLCinList-left .yMenuLeft-title{
	margin-left:22px;
	margin-top:20px;
	border-left:4px solid #00833c;
	padding-left:10px;
	font-size:16px;
	color:#2b2b2b;
}
.yMenuLCinList-left .yMenuLeft-cnt{
	width:440px;
	margin:0px auto;
	margin-top:15px;
}
.yMenuLCinList-left .yMenuLeft-cnt .Cnt-bottom{
	width:440px;
	border-bottom:1px solid #00833c;
	padding-bottom:5px;
	font-size:14px;
	font-weight:bolder;
}
.yMenuLCinList-left .yMenuLeft-cnt .Cnt-bottom a{
	color:#454545;
}
.yMenuLCinList-left .yMenuLeft-cnt .Cnt-txt{
	width:440px;
}
.yMenuLCinList-left .yMenuLeft-cnt .Cnt-txt a{
	float:left;
	margin-right:15px;
	margin-top:10px;
	color:#454545;
	font-size:12px;
}
.yMenuLCinList-left .yMenuLeft-cnt .Cnt-txt a:hover{
	color:#ff6c00;
}

.yMenuLCinList-left .yMenuLeft-Duan{
	width:440px;
	margin:0px auto;
	margin-top:15px;	
}

.yMenuLCinList-left .yMenuLeft-Duan .DuanCnt{
	width:210px;
}
.yMenuLCinList-left .yMenuLeft-Duan .DuanModleft{
	float:left;
}
.yMenuLCinList-left .yMenuLeft-Duan .DuanModright{
	float:right;
}
.yMenuLCinList-left .yMenuLeft-Duan .DuanCnt .Duan-bottom{
	width:210px;
	border-bottom:1px solid #00833c;
	padding-bottom:5px;
	font-size:14px;
	font-weight:bolder;
}
.yMenuLCinList-left .yMenuLeft-Duan .DuanCnt .Duan-txt{
	width:210px;
}
.yMenuLCinList-left .yMenuLeft-Duan .DuanCnt .Duan-txt a{
	float:left;
	margin-right:15px;
	margin-top:10px;
	color:#454545;
	font-size:12px;
}
.yMenuLCinList-left .yMenuLeft-Duan .DuanCnt .Duan-txt a:hover{
	color:#ff6c00;
}

.yMenuLCinList-right{
	float:right;
	width:238px;
	height:704px;
	background:#efefef;
}
.menuliCnt i{
	float:left;
	margin-top:18px;
}
.menuliCnt p.liTitle{
	float:left;
	width:145px;
	font-size:16px;
	margin-top:8px;
}
.menuliCnt p.lititle2{
	float:left;
}
.menuliCnt p.lititle2 a{
	float:left;
	font-size:12px;
	margin-right:5px;
}

.banner-img{
	float:left;
	width:730px;
	height:285px;
	margin-left:18px;
	margin-top:18px;
}

.DengluMod{
	float:left;
	width:218px;
	margin-left:18px;
	border:1px solid #d3d3d3;
	height:283px;
	margin-top:18px;
}
/* 鏈櫥褰�*/
.NotLogin{
	width:218px;
	height:283px;
}
.NotLogin .NotTitle{
	width:218px;
	height:59px;
	border-bottom:1px solid #d3d3d3;
}
.NotLogin .NotTitle .NotTitle-left{
	float:left;
	margin-left:16px;
	margin-top:5px;
}
.NotLogin .NotTitle .NotTitle-right{
	float:left;
	margin-top:11px;
	margin-left:17px;
	color:#454545;
}
.NotLogin .NotTitle .NotTitle-right p{
	font-size:12px;
}
.NotLogin .NotLogin_dengzhu{
	width:218px;
	height:30px;
	border-bottom:1px solid #d3d3d3;
}
.NotLogin .NotLogin_dengzhu .dengzhu_d{
	float:left;
	width:109px;
	height:30px;
	border-right:1px solid #d3d3d3;
}
.NotLogin .NotLogin_dengzhu .dengzhu_d a{
	display:block;
	width:109px;
	height:30px;
	line-height:30px;
	text-decoration:none;
	color:#454545;
}
.NotLogin .NotLogin_dengzhu .dengzhu_d a:hover{
	color:#ff6c00;
}
.NotLogin .NotLogin_dengzhu .dengzhu_d a img{
	float:left;
	margin-left:25px;
	margin-top:6px;
	margin-right:12px;
}

.NotLogin .NotLogin_dengzhu .dengzhu_z{
	float:left;
	width:108px;
	height:30px;
}
.NotLogin .NotLogin_dengzhu .dengzhu_z a{
	display:block;
	width:107px;
	height:30px;
	line-height:30px;
	text-decoration:none;
	color:#454545;	
}
.NotLogin .NotLogin_dengzhu .dengzhu_z a:hover{
	color:#ff6c00;
}
.NotLogin .NotLogin_dengzhu .dengzhu_z a img{
	float:left;
	margin-left:25px;
	margin-top:6px;
	margin-right:10px;
}
.NotLogin .tabbox{
	width:218px;
	height:103px;
	border-bottom:1px solid #d3d3d3;
}
.tabbox .tab{overflow:hidden;background:#fff;}
.tabbox .tab a{display:block; width:73px; text-align:center; line-height:30px; font-size:12px; height:30px; border-bottom:1px solid #d3d3d3;float:left;text-decoration:none;color:#454545;}
.tabbox .tab a:hover{color:#ff6c00; border-bottom:1px solid #ff6c00;text-decoration:none;}
.tabbox .tab a.on{border-bottom:1px solid #ff6c00;color:#ff6c00;text-decoration:none;}
.tabbox .content{overflow:hidden;width:218px;height:72px;position:relative;}
.tabbox .content ul{position:absolute;left:0;top:0;height:72px;}
.tabbox .content li{width:218px;height:72px;float:left;}
.tabbox .content li a{
	float:left;
	display:block;
	width:54px;
	height:54px;
	background:url(../images/tabbox-a-bj.png) no-repeat;
	color:#454545;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	padding-top:12px;
	line-height:15px;
	margin-top:8px;
	margin-left:16px;
}
.tabbox .content li a:hover{
	background:url(../images/tabbox-a-bj2.png) no-repeat;
	color:#ff6c00;
}
.NotNew{
	width:218px;
	height:97px;
}
.NotNew .NotNew_title h3{
	width:218px;
	text-indent:0.5em;
	font-size:13px;
	color:#2b2b2b;
	font-weight:normal;
	margin-top:4px;
}
.NotNew .NotNew-txt{
	width:218px;
}
.NotNew .NotNew-txt p{
	font-size:12px;
	text-indent:0.5em;
	padding-top:2px;
}
.NotNew .NotNew-txt p a{
	color:#454545;
}
.NotNew .NotNew-txt p a:hover{
	color:#ff6c00;
}

.NotLogin2 .NotTitle{
	width:218px;
	height:90px;
	border-bottom:1px solid #d3d3d3;
}
.NotLogin2 .NotTitle .NotTitle-left{
	float:left;
	margin-left:16px;
	margin-top:5px;
}
.NotLogin2 .NotTitle .NotTitle-right{
	float:left;
	margin-top:11px;
	margin-left:17px;
	color:#454545;
}
.NotLogin2 .NotTitle .NotTitle-right p{
	font-size:12px;
}
.NotLogin2 .Wanshan{
	float:left;
	width:218px;
	margin:0px auto;
	text-align:center;
	padding-top:7px;
}
.NotLogin2 .Wanshan a{
	font-size:12px;
	color:#2b2b2b;
	text-decoration:underline;
}
.NotLogin2 .Wanshan a:hover{
	color:#ff6c00;
}

.NotLogin2 .Xinxicaozuo{
	width:218px;
	height:68px;
	border-bottom:1px solid #d3d3d3;
}

.NotLogin2 .Xinxicaozuo p{
	float:left;
	display:block;
	width:71px;
	height:43px;
	border-right:1px solid #d3d3d3;
	margin-top:9px;
	text-align:center;
	font-size:12px;
	padding-top:7px;
}
.NotLogin2 .Xinxicaozuo p span{
	font-size:14px;
	color:#ff6c00;
}




/* 鎺ㄨ崘+鎺掕姒�*/
.Tuijian{
	width:1190px;
	margin:0px auto;
	margin-top:20px;
}
.RemenTui{
	float:left;
	width:952px;
	margin-top:20px;
}
.RemenTui .RemenTui_title{
	width:952px;
	padding-bottom:8px;
	border-bottom:2px solid #00833c;
}
.RemenTui .RemenTui_title h3{
	font-size:18px;
	
}
.RemenTui .RemenTui_Cnt{
	width:950px;
	border:1px solid #d3d3d3;
	border-top:0px;
	border-bottom:0px;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod{
	float:left;
	width:316px;
	height:173px;
	border-right:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	border-left:1px solid #d3d3d3;
	margin-left:-1px;
}
.RemenTui .RemenTui_Cnt .RemenCnt3{
	border-right:0px;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod .Cnt_mod_gird{
	width:280px;
	margin-left:19px;
	margin-top:25px;
	cursor:pointer;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod .Cnt_mod_gird:hover{
	margin-left:25px;
	margin-top:25px;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod .Cnt_Mod_title{
	width:280px;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod .Cnt_Mod_title img{
	float:left;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod .Cnt_Mod_title a{
	float:left;
	display:block;
	width:120px;
	height:35px;
	line-height:35px;
	text-align:center;
	text-decoration:none;
	color:#454545;
	border:1px solid #d3d3d3;
	margin-left:7px;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod .Cnt_Mod_title a:hover{
	color:#ff6c00;
	border:1px solid #ff6c00;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod .Cnt_Mod_name{
	width:280px;
	padding-top:12px;
	padding-bottom:10px;
	border-bottom:1px dashed #d3d3d3;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod .Cnt_Mod_name h3{
	font-size:18px;
	color:#454545;
	font-weight:normal;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod .Cnt_Mod_txt{
	width:280px;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod .Cnt_Mod_txt p{
	font-size:12px;
	color:#454545;
	line-height:20px;
	margin-top:10px;
}
.RemenTui .RemenTui_Cnt .Cnt_Mod .Cnt_Mod_txt p a{
	color:#ff6c00;
}
.Billboard{
	float:right;
	width:220px;
	margin-top:20px;
}
.Billboard .Top_title{
	width:220px;
	padding-bottom:8px;
	border-bottom:2px solid #00833c;
}
.Billboard .Top_title h3{
	font-size:18px;
}

/* 鍒嗙被 */

.FenLeiCnt{
	width:1190px;
	margin:0px auto;
}
.FenLeiCnt .FenleiMod{
	width:1190px;
	margin:0px auto;
	margin-top:20px;
}
.FenLeiCnt .FenleiMod .FenleiMod_title{
	width:1190px;
	height:35px;
	line-height:35px;
	border-bottom:2px solid #00833c;
}
.FenLeiCnt .FenleiMod .FenleiMod_title h3{
	float:left;
	height:25px;
	line-height:25px;
	font-size:18px;
	color:#2b2b2b;
	border-left:8px solid #00833c;
	margin-left:5px;
	padding-left:10px;
}
.FenLeiCnt .FenleiMod .FenleiMod_title a{
	float:right;
	font-size:12px;
	color:#454545;
	margin-right:10px;
}
.FenLeiCnt .FenleiMod .FenleiMod_left{
	float:left;
	width:205px;
	height:390px;
	margin-top:9px;
}

.FenLeiCnt .FenleiMod .FenleiMod_left .wrap{
	width:205px;
	height:390px;
	position:relative;
	overflow:hidden;
	float:left;
}
.FenLeiCnt .FenleiMod .FenleiMod_left .slidebox{
	width:205px;
	position:absolute;
	top:0;
	left:0;
	height:240px;
}
.FenLeiCnt .FenleiMod .FenleiMod_left .slidebox li{
	float:left;
	width:205px;
	height:390px;
	left:0;
	top:0;
}
.FenLeiCnt .FenleiMod .FenleiMod_left .slidebox li img{
	display:block;
	width:205px;
	height:390px;
}
.FenLeiCnt .FenleiMod .FenleiMod_left .dot{
	position:absolute;
	width:100%;
	height:30px;
	background:rgba(0,0,0,0.3);
	text-align:right;
	bottom:0;
	left:0;
}
.FenLeiCnt .FenleiMod .FenleiMod_left .dot p{
	margin-right:10px;
}
.FenLeiCnt .FenleiMod .FenleiMod_left .dot b{
	width:17px;
	height:17px;
	border-radius:20px;
	color:#fff;
	display:inline-block;
	border:1px solid #fff;
	background:#fff;
	text-align:center;
	line-height:17px;
	margin:0 3px;
	margin-top:6px;
	cursor:pointer;
	font-weight:normal;
}
.FenLeiCnt .FenleiMod .FenleiMod_left .dot .cur{
	background:#ff6c00;
	color:#ff6c00;
	border:1px solid #ff6c00;
}
.FenLeiCnt .FenleiMod .FenleiMod_Zhong{
	float:left;
	width:734px;
	margin-top:9px;
	margin-left:13px;
}
.FenLeiCnt .FenleiMod .FenleiMod_Zhong table{
	width:734px;
	margin:0px auto;
}
.FenLeiCnt .FenleiMod .FenleiMod_Zhong table tr th{
	height:30px;
	line-height:30px;
	text-align:center;
	color:#2b2b2b;
	border-bottom:1px solid #d3d3d3;
}
.FenLeiCnt .FenleiMod .FenleiMod_Zhong table tr td{
	text-align:center;
	height:40px;
	line-height:40px;
	color:#454545;
	font-size:12px;
}
.FenLeiCnt .FenleiMod .FenleiMod_Zhong table tr td a{
	display:block;
	width:52px;
	height:18px;
	margin:0px auto;
	line-height:18px;
	text-align:center;
	text-decoration:none;
	color:#ff6c00;
	border:1px solid #ff6c00;
}
.FenLeiCnt .FenleiMod .FenleiMod_Zhong table tr td a:hover{
	background:#ff6c00;
	color:#fff;
}
.FenLeiCnt .FenleiMod .FenleiMod_Zhong table tr.huaguo-tr:hover{
	background:#f6f6f6;
}
.FenLeiCnt .FenleiMod .FenleiMod_Right{
	float:left;
	width:220px;
	margin-left:18px;
	margin-top:9px;
}

#cen_right_top{width:220px;}
#cen_right_top .active{color:#ff6c00; border-bottom:1px solid #ff6c00;}
#cen_right_top h3{line-height:30px;text-align:center;float:left;height:30px;width:110px;margin::0px;padding:0px;font-size:14px;color:#454545; font-weight:normal;cursor:pointer; border-bottom:1px solid #d3d3d3;}

#cen_right_top2{width:220px;}
#cen_right_top2 .active{color:#ff6c00; border-bottom:1px solid #ff6c00;}
#cen_right_top2 h3{line-height:30px;text-align:center;float:left;height:30px;width:110px;margin::0px;padding:0px;font-size:14px;color:#454545; font-weight:normal;cursor:pointer; border-bottom:1px solid #d3d3d3;}

#cen_right_top3{width:220px;}
#cen_right_top3 .active{color:#ff6c00; border-bottom:1px solid #ff6c00;}
#cen_right_top3 h3{line-height:30px;text-align:center;float:left;height:30px;width:110px;margin::0px;padding:0px;font-size:14px;color:#454545; font-weight:normal;cursor:pointer; border-bottom:1px solid #d3d3d3;}

#cen_right_top4{width:220px;}
#cen_right_top4 .active{color:#ff6c00; border-bottom:1px solid #ff6c00;}
#cen_right_top4 h3{line-height:30px;text-align:center;float:left;height:30px;width:110px;margin::0px;padding:0px;font-size:14px;color:#454545; font-weight:normal;cursor:pointer; border-bottom:1px solid #d3d3d3;}

#cen_right_top5{width:220px;}
#cen_right_top5 .active{color:#ff6c00; border-bottom:1px solid #ff6c00;}
#cen_right_top5 h3{line-height:30px;text-align:center;float:left;height:30px;width:110px;margin::0px;padding:0px;font-size:14px;color:#454545; font-weight:normal;cursor:pointer; border-bottom:1px solid #d3d3d3;}


.Fenlei-Right-Cnt{display:none; clear:both;}
.Fenlei-Right-Cnt{
	width:220px;
}
.Fenlei-Right-Cnt p{
	width:220px;
	height:59px;
}
.Fenlei-Right-Cnt p i.txt-Cnt-Title{
	float:left;
	width:200px;
	margin-top:12px;
	margin-left:8px;
	font-size:12px;
	font-weight:normal;
}
.Fenlei-Right-Cnt p i.txt-Cnt-Title em{
	float:left;
	display:block;
	width:16px;
	height:16px;
	text-align:center;
	line-height:16px;
	background:url(../images/nue-bj.png) no-repeat;
	color:#fff;
	margin-right:10px;
	margin-top:1px;
}
.Fenlei-Right-Cnt p i.txt-Cnt-Title em.PaiHangte{
	background:url(../images/nue-bj2.png) no-repeat;
}
.Fenlei-Right-Cnt p i.txt-Cnt-Title a{
	font-weight:normal;
	color:#454545;
}
.Fenlei-Right-Cnt p i.txt-Cnt-Title a:hover{
	color:#ff6c00;
}
.Fenlei-Right-Cnt p i.txt-Cnt-nei{
	float:left;
	margin-left:35px;
	margin-top:3px;
	font-size:12px;
	color:#454545;
	width:170px;
}
.Fenlei-Right-Cnt p i.txt-Cnt-nei em.em1-1{
	float:left;
}
.Fenlei-Right-Cnt p i.txt-Cnt-nei em.em1-2{
	float:right;
}
.Fenlei-Right-Cnt p i.txt-Cnt-nei em.em1-2 b.b-shang{
	color:#ff6c00;
	margin-left:5px;
	font-weight:bold;
}
.Fenlei-Right-Cnt p i.txt-Cnt-nei em.em1-2 b.b-xia{
	color:#00833c;
	margin-left:5px;
	font-weight:bold;
}

.Fenlei-Right-Cnt2{display:none; clear:both;}
.Fenlei-Right-Cnt2{
	width:220px;
}
.Fenlei-Right-Cnt2 p{
	width:220px;
	height:59px;
	border-bottom:1px dashed #d3d3d3;
}
.Fenlei-Right-Cnt2 p i.txt-Cnt-Title{
	float:left;
	width:200px;
	margin-top:12px;
	margin-left:8px;
	font-size:12px;
	font-weight:normal;
}
.Fenlei-Right-Cnt2 p i.txt-Cnt-Title em{
	float:left;
	display:block;
	width:16px;
	height:16px;
	text-align:center;
	line-height:16px;
	background:url(../images/nue-bj.png) no-repeat;
	color:#fff;
	margin-right:10px;
	margin-top:1px;
}
.Fenlei-Right-Cnt2 p i.txt-Cnt-Title em.PaiHangte{
	background:url(../images/nue-bj2.png) no-repeat;
}
.Fenlei-Right-Cnt2 p i.txt-Cnt-Title a{
	float:left;
	font-weight:normal;
	color:#454545;
}
.Fenlei-Right-Cnt2 p i.txt-Cnt-Title a:hover{
	color:#ff6c00;
}
.Fenlei-Right-Cnt2 p i.txt-Cnt-Title b{
	font-weight:normal;
	float:right;
	margin-right:5px;
}
.Fenlei-Right-Cnt2 p i.txt-Cnt-nei{
	float:left;
	margin-left:35px;
	margin-top:3px;
	font-size:12px;
	color:#454545;
	width:170px;
}
.Fenlei-Right-Cnt2 p i.txt-Cnt-nei em.PaiTe{
	color:#ff6c00;
}
.Fenlei-Right-Cnt2 p i.txt-Cnt-nei em.em1-2{
	float:right;
}
.Fenlei-Right-Cnt2 p i.txt-Cnt-nei em.e-Shangsheng{
	color:#ff6c00;
}














.HangyeZx{
	width:1190px;
	margin:0px auto;
	margin-top:20px;
}
.HangyeZx .HangyeZx-title{
	width:1190px;
	margin:0px auto;
	height:35px;
	line-height:35px;
	border-bottom:2px solid #00833c;
}
.HangyeZx .HangyeZx-title h3{
	float:left;
	height:25px;
	line-height:25px;
	font-size:18px;
	color:#2b2b2b;
	margin-left:5px;
	padding-left:5px;
}

.HangyeZx .HangyeMod{
	float:left;
	width:190px;
	margin-left:8px;
	margin-top:10px;
}
.HangyeZx .HangyeMod .HangyeModtitle{
	width:190px;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #d3d3d3;
}
.HangyeZx .HangyeMod .HangyeModtitle p{
	float:left;
}
.HangyeZx .HangyeMod .HangyeModtitle a{
	float:right;
	color:#454545;
	font-size:12px;
	margin-right:5px;
}
.HangyeZx .HangyeMod .HangyeModimg{
	width:180px;
	height:92px;
	border:1px solid #d3d3d3;
	margin:0px auto;
	margin-top:7px;
}
.HangyeZx .HangyeMod .HangyeModTxt{
	width:180px;
	margin:0px auto;
	margin-top:8px;

}
.HangyeZx .HangyeMod .HangyeModTxt p{
	text-align:center;
}
.HangyeZx .HangyeMod .HangyeModTxt p.txt-p-cnt{
	font-size:12px;
	text-indent:2em;
	line-height:23px;
	text-align:left;
}
.HangyeZx .HangyeMod .HangyeModTxt p.txt-p-cnt a{
	color:#ff6c00;
}
.HangyeZx .HangyeMod .HangyeModTxt p.txt-p-shulie{
	padding-top:5px;
}
.HangyeZx .HangyeMod .HangyeModTxt p.txt-p-shulie a{
	font-size:12px;
	color:#454545;
}
.HangyeZx .HangyeMod .HangyeModTxt p.txt-p-shulie a:hover{
	color:#ff6c00;
}
.HangyeZx .HangyeMod .HangyeModTxt p.txt-p-shulie a em{
	float:left;
	display:block;
	width:4px;
	height:4px;
	margin-right:5px;
	margin-top:7px;
	background:url(../images/em-bj-a.png) no-repeat center left;
}
.HangyeZx .HangyeMod .HangyeModTxt p.txt-p-shulie a i{
	float:left;
}
/* 鍙嬫儏 */
.Youqing{
	width:1190px;
	margin:0px auto;
	margin-top:20px;
}

.Youqing .YouqingTitle{
	width:1190px;
	margin:0px auto;
	height:35px;
	line-height:35px;
	border-bottom:2px solid #00833c;
}
.Youqing .YouqingTitle h3{
	float:left;
	height:25px;
	line-height:25px;
	font-size:18px;
	color:#2b2b2b;
	margin-left:5px;
	padding-left:5px;
}
.Youqing .YouqingTxt{
	width:1190px;
	margin:0px auto;
	margin-top:5px;
}
.Youqing .YouqingTxt a{
	float:left;
	font-size:14px;
	color:#454545;
	margin-left:17px;
	margin-top:3px;
}