<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
     http://www.springframework.org/schema/context  
     http://www.springframework.org/schema/context/spring-context-3.0.xsd  
     http://www.springframework.org/schema/util 
     http://www.springframework.org/schema/util/spring-util-3.0.xsd
     http://www.springframework.org/schema/tx  
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
     http://www.springframework.org/schema/jdbc  
     http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">
	<!--  
		所有的包含IOC的类的最基本包名，包含此包下面的包
	-->
	<context:component-scan base-package="com.nongzi" />
	<bean id="commonDao" class="com.nongzi.dao.CommonDAO"></bean>
	
	<bean id="imgService" class="com.nongzi.user.serviceImpl.ImgServiceImpl"/>
	<bean id="gongsiService" class="com.nongzi.user.serviceImpl.GongsiServiceImpl"/>
	<bean id="xunjiaService" class="com.nongzi.user.serviceImpl.XunjiaServiceImpl"/>
	<bean id="messageService" class="com.nongzi.user.serviceImpl.MyMessageServiceImpl"/>
	<bean id="chanpinService" class="com.nongzi.user.serviceImpl.ChanpinServiceImpl"/>
	<!-- util -->
	<bean id="bu" class="com.nongzi.util.BaseUtil"></bean>
	<bean id="md5" class="com.nongzi.util.MD5"></bean>
	<bean id="fenci" class="com.nongzi.util.Fenci"></bean>
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
</beans>
